@font-face {
    font-family: 'Pixel';
    src: url('../font/Pixel_NES.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing : none;
    }

@media (max-width: 1230px) {
    .jeu-info {
        display: none;
    }
}
    

html, body{
    
    text-align: center;
    font-family: Pixel;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    image-rendering: pixelated;
    background-image: url('../img/land.png');
    background-position:center;
    color: white;
    display: flex;
    justify-content: center;
}

.dozzo {
    height: 512px;
    width: 480px;
    margin: auto;
}

.selection {
    background-color: transparent;
    text-align: left;
    color: grey;
    width: 240px;
    height: 35px;
    border: none;
    font-family: Pixel;
}

.message {
    padding: 10px 0 0 20px;
    text-align: left;
    height: 44px;
  }

/* ZONE GAUCHE ET DROITE */
.jeu-info {
    width: 25%;
    padding-top: 100px;
    margin: auto;
}

.bordure-nes {
    background-color: black;
    border: 10px solid transparent;
    border-image:  url('../img/bordure-nes.png') 10 10 repeat;
  }

/* ZONE GAUCHE  */

.img-classe{
    height: 114px;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: black;
    color: grey;
    padding: 10px 15px; 
}

.tooltip:hover{
    color: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.4s;
    border: 10px solid transparent;
    border-image:  url('../img/bordure-nes.png') 10 10 repeat;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

/* ZONE DROITE */
  .statistiques {
    width: 50%;
  }


/* ZONE COMBAT */
  .arriere-plan-combat {
    background-image: url("../img/arriere-plan-combat.png");
    height: 256px;
  }     

  .img-unite-combat{
    width: 100px;
    margin: 20px 50px 20px 50px;
}