@font-face {
    font-family: 'Disposable';
    src: url('../font/Pixel_NES.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 1230px) {
    .gameInfo {
        display: none;
    }
}
    

html, body{
    text-align: center;
    font-family: Disposable;
    font-size: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
    image-rendering: pixelated;
    background-image: url('../img/land.png');
    background-position:top center;
    color: white;
}

.selection {
    background-color: black;
    color: grey;
    padding: 10px 15px; 
    margin: 6px;
    border: none;
    font-family: Disposable;
}

.selection:hover{
    color: white;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    color: #333;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    padding: 6px 8px;
}

.img-class{
    height: 114px;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: black;
    color: grey;
    padding: 10px 15px; 
}

.tooltip:hover{
    color: white;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.4s;
    border: 10px solid transparent;
    border-image:  url('../img/nesBox.png') 10 10 repeat;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.gameInfo {
    width: 25%;
    padding-top: 100px;
    margin: auto;
}

#Dozzo {
    background-color: #000;
    color: #fff;
    height: 512px;
    width: 480px;
    margin: auto;
    border-color: #fff;
    border: 2px solid transparent;
}

.combat-img{
    width: 100px;
    margin: 20px 50px 20px 50px;
}

.a-propos{
    background-color: black;
    color: white;
    width: 60%;
    margin: auto auto auto;
}

.option{
    margin: 50px auto auto;
}

.son-option{
    margin: 0px 0px 0px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: black;
}
  
  
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.nesBox {
    background-color: black;
    border: 10px solid transparent;
    border-image:  url('../img/nesBox.png') 10 10 repeat;

  }

  .nesBoxContainer {
    width: 50%;
  }
<<<<<<< HEAD
=======

  .messageBox {
    display: flex;
    padding: 10px 0 0 20px;
    text-align: left;
    height: 44px;
  }

  .fightBackground {
    background-image: url("../img/background.png");
    height: 256px;
  }
>>>>>>> 698bbf0299150fb8abe69c2b8c3ccb5528081622
