@font-face {
    font-family: 'Disposable';
    src: url('../font/DisposableDroidBB.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@media (max-width: 640px) {
    .keyboard {
        display: none;
    }
}
    

html, body{
    text-align: center;
    font-family: Disposable;
    width: 100%;
    height: 100%;
    margin: 0;
    image-rendering: pixelated;
}


.dozzo{
    padding: 40px;
}

.selection {
    background-color: grey;
    color: white;
    padding: 10px 15px; 
    margin: 15px;
    border: none;
    font-family: Disposable;
}

.selection:hover{
    background-color: black;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 6px 8px;
}

#error{
    display: none;
    background-color: gray;
    color: white;
    padding: 10px;
}

.img-class{
    height: 114px;
}

.tooltip {
    position: relative;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px; 
    margin: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

  }
.container{
    margin: auto;
}